<h2>Create New Trip</h2>

<form (ngSubmit)="createTrip()">
  <label>
    Name:
    <input [(ngModel)]="trip.name" name="name" required>
  </label><br>

  <label>
    Location:
    <input [(ngModel)]="trip.location" name="location" required>
  </label><br>

  <label>
    Price:
    <input [(ngModel)]="trip.price" name="price" type="number" required>
  </label><br>

  <label>
    Hotel:
    <input [(ngModel)]="trip.hotel" name="hotel">
  </label><br>

  <label>
    Stars:
    <input [(ngModel)]="trip.stars" name="stars" type="number">
  </label><br>

  <button type="submit">Add Trip</button>
</form>
